<section class="about">
  <div class="container">
    <div class="container-about">
      <div class="barber-job-pictere">
        <picture class="about-pic">
          <source
            media="(min-width: 1158px)"
            srcset="
              ./images/desctop/about1.jpg    1x,
              ./images/desctop/about1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/about1.jpg    1x,
              ./images/tablet/about1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- <source
            media="(max-width: 767px)"
            srcset="./images/mobil/img.jpg 1x, ./images/mobil/2img@2x.jpg 2x"
            type="image/jpg"
          /> -->
          <img
            class="about-img"
            src="./images/desctop/about1.jpg"
            alt="best job "
            loading="lazy"
          />
        </picture>
        <picture class="about-pic">
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/about2.jpg    1x,
              ../images/desctop/about2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/about2.jpg    1x,
              ../images/tablet/about2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- <source
            media="(max-width: 767px)"
            srcset="./images/mobil/img.jpg 1x, ./images/mobil/2img@2x.jpg 2x"
            type="image/jpg"
          /> -->
          <img
            class="about-img"
            src="../images/desctop/about2.jpg"
            alt="best job-head"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="about-text-box">
        <div class="bk-title-box">
          <div class="subtitle-line">
            <span class="dividerbk"></span>
            <div><p class="bk-span-desc">About</p></div>
          </div>
          <h2 class="sec-title">Best Barbershop in your city</h2>
          <p class="subtitle">
            If you want to add more confidence to your image, you should
            definitely visit us.
          </p>
          <p class="text">
            We are a team that never stops at what has been achieved and are
            thirsty for changes. And when you fall into the hands of our master,
            you will never be the same again. We are a team that is always "on
            the same wave" with clients. Therefore, we are always ready to
            improve everyone who comes to us!
          </p>
          <button class="btn">ONLINE-BOOKINGs</button>
        </div>
      </div>
    </div>
  </div>
</section>
