<section class="barbers">
  <div class="container">
    <div class="bk-title-box">
      <div class="subtitle-line">
        <span class="dividerbk"></span>
        <div>
          <p class="bk-span-desc">For true enjoyers of the atmosphere</p>
        </div>
      </div>
      <h2 class="sec-title">Our barbers</h2>
    </div>
    <ul class="barbers-list">
      <li class="barbers-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/barber1.jpg    1x,
              ../images/desctop/barber1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/barber1.jpg    1x,
              ../images/tablet/barber1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../images/mobil/barber1.jpg    1x,
              ../images/mobil/barber1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="barber-img"
            src="../images/desctop/barber1.jpg"
            alt="John Smith"
            width="360"
            loading="lazy"
          />
        </picture>
        <div class="barber-name-box">
          <h3 class="barbername">John Smith</h3>
          <p class="barber-class">Extreme Barber</p>
        </div>
        <div class="soc-icon">
          <ul>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/barber1.jpg    1x,
              ../images/desctop/barber1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/barber2.jpg    1x,
              ../images/tablet/barber2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../images/mobil/barber2.jpg    1x,
              ../images/mobil/barber2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="barber-img"
            src="../images/desctop/barber2.jpg"
            alt="Michele Doe"
            width="360"
            loading="lazy"
          />
        </picture>
        <div class="barber-name-box">
          <h3 class="barbername">Michele Doe</h3>
          <p class="barber-class">Extreme Barber</p>
        </div>
        <div class="soc-icon">
          <ul>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="barbers-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/barber3.jpg    1x,
              ../images/desctop/barber3@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/barber3.jpg    1x,
              ../images/tablet/barber3@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../images/mobil/barber3.jpg    1x,
              ../images/mobil/barber3@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="barber-img"
            src="../images/desctop/barber3.jpg"
            alt="Alan Black"
            width="360"
            loading="lazy"
          />
        </picture>
        <div class="barber-name-box">
          <h3 class="barbername">Alan Black</h3>
          <p class="barber-class">Extreme Barber</p>
        </div>
        <div class="soc-icon">
          <ul>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="soc">
              <a class="icon-link" href="">
                <svg class="soc-svg">
                  <use href="../images/icon/icons-svg.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
