<footer class="footer booking">
  <div class="booking-box">
    <div class="form-container">
      <h2 class="wt-title book">Online-booking</h2>
      <form>
        <div class="name-phone">
          <div class="input-group">
            <input type="text" placeholder="Name*" required />
          </div>
          <div class="input-group">
            <input type="tel" placeholder="Phone*" required />
          </div>
        </div>
        <div class="input-group full-width">
          <textarea placeholder="Message"></textarea>
        </div>
      </form>
      <button type="submit" class="hed-btn btn">Send</button>
    </div>
    <div class="contacts-container">
      <h2 class="wt-title footcont">Contacts</h2>
      <address class="contactss">
        <ul class="contacts-list">
          <li>
            <a href="https://g.co/kgs/yoVS1G7" target="_blank" class="local"
              ><svg class="map">
                <use
                  href="../images/icon/icons-svg.svg#icon-map-pin"
                ></use></svg
              >st. Vasilkivska, 7A Kyiv, 08132</a
            >
          </li>
          <li>
            <a href="tel:+38 044 111 11 11" class="phone"
              ><svg class="map">
                <use href="../images/icon/icons-svg.svg#icon-phone"></use></svg
              >+38 044 111 11 11</a
            >
          </li>
          <li>
            <a href="mailto:barbershop@email.com" class="meil"
              ><svg class="map">
                <use href="../images/icon/icons-svg.svg#icon-mail"></use></svg
              >barbershop@email.com</a
            >
          </li>
        </ul>
      </address>
      <div class="work-day">
        <span class="divider"></span>
        <div>
          <p class="gray-span-desc">Working hours</p>
        </div>
      </div>
      <p class="work-hours">Every day from 9:00 to 22:00</p>
    </div>
  </div>
  <div class="footer-down-box">
    <p class="copyrigth">&copy; Copyright 2020</p>
    <div class="dow-soc-wrapper">
      <span class="divider"></span>
      <a href="">Instagram</a>
      <a href="">Youtube</a>
    </div>
  </div>
</footer>
