<header class="header">
  <div class="container">
    <div class="top-nav">
      <nav class="navbar">
        <ul class="nav-menu">
          <li class="tot-nav-link"><a href="">About</a></li>
          <li class="tot-nav-link">
            <a href="">Services and prices</a>
          </li>
          <li class="tot-nav-link"><a href="">Barbers</a></li>
          <li class="tot-nav-link"><a href="">Contacts</a></li>
        </ul>
      </nav>
      <adress class="head-adres">
        <div class="contacts">
          <a href="tel:+110001111111" class="contact">+38 044 111 11 11</a
          ><button type="button" class="hed-btn">Online-booking</button>
        </div>
      </adress>
    </div>

    <div class="mobil-header">
      <div class="log-mob-hed">
        <a href="./index.html">
          <svg class="logo-icon" width="67" height="55">
            <use href="./images/icon/icons-svg.svg#icon-Logo"></use></svg
        ></a>
      </div>
      <button type="button" class="berger-btn">
        <svg class="burger-icon" width="24" height="16">
          <use href="./images/icon/icons-svg.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
