<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <!-- sidebar -->
      <div class="sidebar">
        <div class="sidebar-logo">
          <a href="./index.html">
            <svg class="logo-icon" width="67" height="55">
              <use href="./images/icon/icons-svg.svg#icon-Logo"></use></svg
          ></a>
        </div>
        <ul class="sidebar-links">
          <li>
            <a href="#" class="youtube">Youtube</a>
          </li>
          <li>
            <a href="#" class="instagram">Instagram</a>
          </li>
          <li><span class="dividerr"></span></li>
        </ul>
      </div>
      <div class="hero-back">
        <div class="hero-content">
          <div class="head-line">
            <span class="divider"></span>
            <div>
              <p class="gray-span-desc">A hair salon for men in Kyiv</p>
            </div>
          </div>
          <h1 class="head-title">BarberShop</h1>
          <p class="head-description">
            We are experts in trendy men’s haircuts. We work quickly, carefully
            and with style.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
