<section class="oldschool">
  <div class="container">
    <div class="oldschool-container">
      <div class="slot-box">
        <ul class="slot-list">
          <li class="slot-item">
            <div class="slot">
              <span class="numeric">600<sup>+</sup></span>
              <p class="slot-desc">Satisfied customers per day</p>
            </div>
          </li>
          <li class="slot-item">
            <div class="slot">
              <span class="numeric">20<sup>+</sup></span>
              <p class="slot-desc">Kyiv’s best barbers</p>
            </div>
          </li>
        </ul>
        <ul class="slot-list mtop">
          <li class="slot-item">
            <div class="slot">
              <span class="numeric">50<sup>+</sup></span>
              <p class="slot-desc">Awards for excellent service</p>
            </div>
          </li>
          <li class="slot-item">
            <div class="slot">
              <span class="numeric">100<sup>+</sup></span>
              <p class="slot-desc">Gifts for regular customers</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="oldschool-content">
        <div class="bk-title-box">
          <div class="subtitle-line">
            <span class="dividerbk"></span>
            <div><p class="bk-span-desc">Old traditional school</p></div>
          </div>
          <h2 class="sec-title">¿Why people come to us?</h2>
          <p class="subtitle">
            Only good things are said about us. But it's better to see and feel
            1 time than read 10 times.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
