<section class="portfolio">
  <div class="container">
    <div class="bk-title-box">
      <div class="subtitle-line">
        <span class="dividerbk"></span>
        <div>
          <p class="bk-span-desc">In Latin, "barba" means "beard"</p>
        </div>
      </div>
      <h2 class="visually-hidden">Our barbers portfolio</h2>
    </div>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/old1.jpg    1x,
              ../images/desctop/old1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/old1.jpg    1x,
              ../images/tablet/old1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/mobil/old1.jpg 1x, ../images/mobil/old1@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="barber-img"
            src="../images/desctop/old1.jpg"
            alt="barber works with beard"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/old2.jpg    1x,
              ../images/desctop/old2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/old2.jpg    1x,
              ../images/tablet/old2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/mobil/old2.jpg 1x, ../images/mobil/old2@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="barber-img"
            src="../images/desctop/old2.jpg"
            alt="barber works with "
            loading="lazy"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/old3.jpg    1x,
              ../images/desctop/old3@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/old3.jpg    1x,
              ../images/tablet/old3@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/mobil/old3.jpg 1x, ../images/mobil/old3@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="barber-img"
            src="../images/desctop/old3.jpg"
            alt="barber works with "
            loading="lazy"
          />
        </picture>
      </li>
      <li class="portfolio-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../images/desctop/old4.jpg    1x,
              ../images/desctop/old4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../images/tablet/old4.jpg    1x,
              ../images/tablet/old4@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/mobil/old4.jpg 1x, ../images/mobil/old4@2x.jpg 2x"
            type="image/jpg"
          />
          <img
            class="barber-img"
            src="../images/desctop/old4.jpg"
            alt="barber works with beard"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
