<section class="prices">
  <div class="container">
    <div class="head-line">
      <span class="divider"></span>
      <div>
        <p class="gray-span-desc">Spend your time with the best masters</p>
      </div>
    </div>
    <h2 class="wt-title">Services and prices</h2>
    <div class="prices-container">
      <ul class="prices-llist">
        <li class="prices-item">
          Men’s haircut <span class="dots"></span>from 300 uah.
        </li>
        <li class="prices-item">
          Beard trim <span class="dots"></span> from 300 uah.
        </li>
        <li class="prices-item">
          Mustache trim <span class="dots"></span> from 200 uah.
        </li>
        <li class="prices-item">
          Straight razor shave <span class="dots"></span>from 200 uah.
        </li>
      </ul>
      <ul class="prices-listt">
        <li class="prices-item">
          Trainee’s haircut <span class="dots"></span>from 50 uah.
        </li>
        <li class="prices-item">
          Haircut under the nozzle<span class="dots"></span> from 200 uah.
        </li>
        <li class="prices-item">
          Children’s haircut (0-12 y.o.) <span class="dots"></span>from 300 uah.
        </li>
        <li class="prices-item">
          Camouflage of gray hair<span class="dots"></span> from 200 uah.
        </li>
      </ul>
    </div>
    <div class="btn-center">
      <button type="button" class="btn">Online-booking</button>
    </div>
  </div>
</section>
