.about {
    padding: 84px 0;
}

.barber-job-pictere {
    display: none;
}

.sec-title {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #303030;
    width: 290px;
    margin: 20px 0;
}

.subtitle {
    width: 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.02em;
    color: #555;
    width: 380px;
    margin-bottom: 20px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #555;
    width: 404px;
    margin-bottom: 40px;
}

.btn {
    display: block;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FF6C00;
    border-radius: 25px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #303030;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #FF6C00;
}