/* Styles for Mobile devices */
.container {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 38px;
  }
}

/* 
/* Styles for Desktop devices */
/* 
@media screen and (min-width: 1200px) {
  .container {
    position: relative;
    max-width: 1170px;
  }
}  */